.iconbuttoncontainer {
    $BUTTON_PADDING: 10px;

    $TOOLTIP_PADDING: 6px;
    $TOOLTIP_FONT_SIZE: 12px;

    $BUTTON_TOOLTIP_SPACING: 5px;

    display: flex;
    align-items: center;

    .iconbutton {
        padding: $BUTTON_PADDING;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
    }

    .iconbutton:hover,
    .iconbutton.active {
        cursor: pointer;
        background-color: #ffffff0f;
    }

    .tooltipcontainer {
        position: relative;
        display: flex;
        align-items: center;

        .tooltip {
            background-color: rgb(238, 238, 238);

            position: absolute;
            left: $BUTTON_TOOLTIP_SPACING;
            z-index: 1;

            padding: $TOOLTIP_PADDING;
            border-radius: 5px;

            transition:
                translate 0.1s,
                opacity 0.2s;


            opacity: 0;
            translate: -3px;

            &.active {
                opacity: 1;
                translate: 0px;
            }

            p {
                font-size: $TOOLTIP_FONT_SIZE;
                font-family: monospace;
                color: black;

                text-wrap: nowrap;
                user-select: none;

                margin: 0px;
            }
        }
    }
}